.main-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  
  @media (max-width: 991px) {
    .main-container {
      max-width: 991px;
      height: auto;
      padding: 15px;
    }
  }
  
  @media (max-width: 640px) {
    .main-container {
      max-width: 640px;
    }
  }
  
  .logo-container {
    width: 179px;
    height: 179px;
    margin-left: 48px;
  }
  
  @media (max-width: 991px) {
    .logo-container {
      margin: 0 auto;
    }
  }
  
  .logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  @media (max-width: 991px) {
    .about-content {
      margin-top: 30px;
    }
  }
  
  .about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .about-title {
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 800;
    color: #000;
    margin-bottom: 20px;
  }
  
  @media (max-width: 991px) {
    .about-title {
      font-size: 40px;
    }
  }
  
  @media (max-width: 640px) {
    .about-title {
      font-size: 30px;
    }
  }
  
  .about-tagline {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    color: #000;
    max-width: 631px;
    margin: 0;
  }
  
  @media (max-width: 991px) {
    .about-tagline {
      font-size: 30px;
    }
  }
  
  @media (max-width: 640px) {
    .about-tagline {
      font-size: 24px;
    }
  }
  
  .mission-container {
    margin-top: 40px;
    margin-left: 76px;
    max-width: 637px;
  }
  
  @media (max-width: 991px) {
    .mission-container {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  
  .mission-title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
  }
  
  @media (max-width: 640px) {
    .mission-title {
      font-size: 20px;
    }
  }
  
  .mission-text {
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    color: #000;
    line-height: 1.4;
    margin: 0;
  }
  
  @media (max-width: 640px) {
    .mission-text {
      font-size: 18px;
    }
  }
  
  .images-container {
    position: relative;
    margin-top: 20px;
  }
  
  @media (max-width: 991px) {
    .images-container {
      margin-top: 40px;
      height: 400px;
      display: flex;
      justify-content: center;
    }
  }
  
  @media (max-width: 640px) {
    .images-container {
      margin-top: 30px;
      height: 300px;
    }
  }
  
  .bg-image {
    width: 579px;
    height: 386px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  @media (max-width: 991px) {
    .bg-image {
      position: relative;
      width: 100%;
      height: auto;
      max-width: 500px;
      right: auto;
      top: auto;
    }
  }
  
  @media (max-width: 640px) {
    .bg-image {
      max-width: 100%;
    }
  }
  
  .front-image {
    width: 544px;
    height: 363px;
    position: absolute;
    right: -76px;
    top: -56px;
  }
  
  @media (max-width: 991px) {
    .front-image {
      position: relative;
      width: 100%;
      height: auto;
      max-width: 500px;
      right: auto;
      top: auto;
    }
  }
  
  @media (max-width: 640px) {
    .front-image {
      max-width: 100%;
    }
  }